.transitionable {
    width: 200px;
    height: 200px;
    border-color: red;
    border-width: 10px;
    border-style: solid;
    background-color: green;
    transition: all 2s;
}

.transitionable:hover {
    background-color: blue;

}